<h2 class="text-center text-secondary"> <u> Welcome to Admin Dashboard</u></h2>


<div class="container d-flex justify-content-around my-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" style="height: 50%;width: 80%; margin-left: 8%;" src="../../assets/images/initial.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin Initial Deposit</h5>
          <p class="card-text">Click here to do initial deposit</p>
          <a  routerLink="/admintxn" class="btn btn-primary">Initial Transaction</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" style="height: 50%;" src="../../assets/images/admindeposit.jfif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin Deposit</h5>
          <p class="card-text">Click here to do admin deposit</p>
          <a  routerLink="/admin-send" class="btn btn-primary">Admin Deposit</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/withdraw.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin Withdraw</h5>
          <p class="card-text">Click here to do admin withdraw</p>
          <a  routerLink="/admin-withdraw" class="btn btn-primary">Admin Withdraw</a>
        </div>
      </div>
</div>


