<!-- 
    <div class="col-6">
      <h1 class="text-center">Send Money</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="pay">
              <img src="../../assets/images/payment.png" alt="">
            </div>
          </div>
        <div class="col-6">
          <form class="form-group" (ngSubmit)="send()" ngNativeValidate>
            <div class="form-group">
              <label for="userid">Receiver Id </label>
              <input type="text" class="form-control" id="userid" [(ngModel)]="receiver_id" placeholder="Enter User Id"
                name="userid" required>
            </div>
            <div class="form-group">
              <label for="anount">Amount</label>
              <input type="number" class="form-control" [(ngModel)]="amount" id="amount" placeholder="Enter amount"
                name="amount" required>
            </div>
            <button class="btn btn-success">Send</button>
          </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="pay">
        <img src="../../assets/images/payment.png" alt="" id="pay-img">
      </div>
    </div>
    <div class="col-6">
      <div class="pay-form">
        <div class="card mt-50 mb-50">
          <div class="nav">
            <ul class="mx-auto">
              <li class="active">Payment</li>
            </ul>
          </div>
          <form class="form-group" (ngSubmit)="send()" ngNativeValidate> 
            <span id="card-header">Your Id:</span>
            <div class="row row-1">
              <div class="col-2"><img id="logo-img" class="img-fluid" src="../../assets/images/logo.PNG" /></div>
              <div class="col-7"> <input type="text" placeholder={{user1}}> </div>
            </div>
            <span id="card-header">Enter Beneficiary Details:</span>
            <div class="row-1 form-group">
              <div class="row row-2"> <span id="card-inner">Beneficiary name</span> </div>
              <div class="row row-2"> <input type="text" placeholder="Jhon Rodson"> </div>
            </div>
            <div class="row-1 form-group">
              <div class="row row-2"> <span id="card-inner">Beneficiary Id:</span> </div>
              <div class="row row-2"> <input type="text" class="form-control" id="userid" [(ngModel)]="receiverid" placeholder="xxxxx22@falcon" name="userid" required> </div>
            </div>
            
            <div class="row-1 form-group">
              <div class="row row-2"> <span id="card-inner">Enter Amount:</span> </div>
              <div class="row row-2"> <input type="number" class="form-control" [(ngModel)]="amount" id="amount"  name="amount" required> </div>
            </div>
            <button class="btn d-flex mx-auto form-group"><b>Send</b></button>
          </form>
          <div class="mt-3" *ngIf="notavailable">
            <div class="alert alert-danger" role="alert">
              This Customer is not available. Please Enter Correct ID.
            </div>
        </div>
          <div class="mt-3" *ngIf="alert">
            <div class="alert alert-danger" role="alert">
              You Don't Have Sufficient Balance.
            </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
