<div class="container text-center mt-5 mb-2">
    <h1 class="mb-0">Meet our Team</h1><span>The only place where success comes before work is in the dictionary.</span>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="assets\images\account.png" width="90">
                <h5 class="mt-3 name">Kartikeya Yadav</h5><span class="work d-block">Full stack Developer</span><span class="work d-block">Coforge</span>
                <div class="mt-4 about"><span>Contact No:- 7906335813 <br> email:kartikeya.yadav@coforge.com</span></div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="assets\images\account.png" width="90">
                <h5 class="mt-3 name">Kunj Verma</h5><span class="work d-block">Full stack Developer</span><span class="work d-block">Coforge</span>
                <div class="mt-4 about"><span>Contact No:- 9839971262 <br> email:kunj.verma@coforge.com</span>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="assets\images\account.png" width="90">
                <h5 class="mt-3 name">Manthan Bhagtani</h5><span class="work d-block">Full stack Developer</span><span class="work d-block">Coforge</span>
                <div class="mt-4 about"><span>Contact No:- 8318404573 <br> email:manthan.bhagtani@coforge.com</span></div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="assets\images\account.png" width="90">
                <h5 class="mt-3 name">Hitendra Singh</h5><span class="work d-block">Full stack Developer</span><span class="work d-block">Coforge</span>
                <div class="mt-4 about"><span>Contact No:- 9119785038 <br> email:hitendra.1.singh@coforge.com</span></div>

            </div>
        </div>
    </div>
</div>