

<div class="container d-flex justify-content-around">
    <div class="row">
        <div class=" text-center">
            <h1 class="mb-2">Meet our Team</h1><span>The only place where success comes before work is in the dictionary.</span>
        </div>
        <div class="col-md-3">
            <div class="card p-3 py-4 mt-5 mb-5">
                <div class="text-center"> <img src="assets/images/account.png" width="100" class="rounded-circle">
                    <h3 class="mt-2">Kartikeya Yadav</h3> <span class="mt-1 clearfix">Full stack Developer</span> <small class="mt-4">I am an Full stack Developer working at Coforge Ltd at Greater Noida,India</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="assets/images/account.png" width="100" class="rounded-circle">
                    <h3 class="mt-2">Hitendra Singh</h3> <span class="mt-1 clearfix">Full stack Developer</span> <small class="mt-4">I am an Full stack Developer working at Coforge Ltd at Greater Noida,India</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="assets/images/account.png" width="100" class="rounded-circle">
                    <h3 class="mt-2">Manthan Bhagtani</h3> <span class="mt-1 clearfix">Full stack Developer</span> <small class="mt-4">I am an Full stack Developer working at Coforge Ltd at Greater Noida,India</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="assets/images/account.png" width="100" class="rounded-circle">
                    <h3 class="mt-2">Kunj Verma</h3> <span class="mt-1 clearfix">Full stack Developer</span> <small class="mt-4">I am an Full stack Developer working at Coforge Ltd at Greater Noida,India</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>                        </div>
                </div>
            </div>
        </div>
    </div>
</div>