<main>
  <section class="glass my-5">

    <div class="dashboard">
      <div class="user">
        <img src="assets/images/user.png" height="50px" alt="">
        <h4>{{name}} </h4>
        <h6>{{uniqueID}} </h6>
        <p>{{user}}</p>
      </div>
      <div class="links">
        <div class="link">
          <img src="assets/images/home.png" height="30px" style="border: 1px solid; border-radius: 50%;" alt="">
          <h6 (click)="passbook()" class="gap1">Transactions</h6>
        </div>

        <div class="link">
          <img src="assets/images/rising.png" style="border: 0.5px solid; border-radius: 50%;" height="30px" alt="">
          <h6 class="gap" (click)="sendmoney()">Send Money</h6>
        </div>

        <div class="link">
          <img src="assets/images/contact.png" style="border: 1px solid; border-radius: 50%;" height="30px" alt="">
          <h6 class="gap" routerLink="/contactus">Contact Us</h6>
        </div>

        <div class="link">
          <img src="assets/images/information.png" style="border: 1px solid; border-radius: 50%;" height="30px" alt="">
          <h6 class="gap" routerLink="/aboutus">About Us</h6>
        </div>
      </div>

      <div class="pro">
        <h5 (click)="createaccount()" class="gap"><i class="fas fa-university"></i>       Join Us for free Basic Account</h5>
        <img src="assets/images/add-user.png" height="30px" alt="">
      </div>

    </div>

    <div class="games">
      <div class="status">
        <h3 class="activegames">Hello {{name}}</h3>

      </div>
      <div class="rods">
        <div class="rod py-5 d-flex justify-content-around btn">
          <div>
            <img src="assets/images/information.png" class="mx-4" height="30px" width="30px" alt="">
          </div>
          <div class="card-info" routerLink="/checkbalance">
            <h4>Check Balance</h4>
            <p>Click Here to Fetch Your Account Balance</p>
            <div class="prgs"></div>
          </div>

        </div>

        <div class="rod py-5 d-flex justify-content-around btn">
          <div>
            <img src="assets/images/information.png" class="mx-4" height="30px" width="30px" alt="">
          </div>
          <div class="card-info">
            <h4> News Feed</h4>
            <p>Latest News</p>
            <div class="prgs"></div>
          </div>
        </div>


      </div>
    </div>
  </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>


















<!-- <button type="button" class="btn btn-primary" (click)="passbook()">Passbook</button>
<button type="button" class="btn btn-primary" (click)="sendmoney()">Sendmoney</button>
<button type="button" class="btn btn-primary" (click)="receivemoney()">Receivemoney</button>

<h2>{{user}}</h2>

<button (click)="getUserId()">Get Id</button>
<h2>{{uniqueID}}</h2> -->
