<!-- Button trigger modal -->
<h1>Are You Leaving Us ......</h1>

<div>
  <img src="assets/images/leaving.gif" height="400px" class="virtual">
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to logout
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="back()" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary" (click)="surelogout()" data-bs-dismiss="modal">Logout</button>
      </div>
    </div>
  </div>
</div>
