<div class="front">
    <div class="row">
        <div class="col-6">
            <div class="top">
                <div class="top-text">
                    <h1 class="max">Smart Transition,</h1>
                    <h1 class="max">Secured Privacy.</h1>
                </div>
                <div class="bottom-text">
                    <p class="maxp">Use our services to make yourself more secure<br> and prevent all types of privacy leak.
                    </p>
                    <br>
                    <button type="button" class="btn btn1" (click)="getaccount()">Get a New Account</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="assets/images/man.PNG" class="man_image" alt="Man image" width="30%">
            <br>
        </div>


    </div>
</div>


<!-- ----------------------------------------------------------------------------------------------------- -->
<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="third-party">
                <a href="https://twitter.com/login?lang=en"><img src="assets/images/cirrus.png"></a>
                <a href="https://twitter.com/login?lang=en"> <img src="assets/images/visa.png"></a>
                <a href="https://twitter.com/login?lang=en"> <img src="assets/images/paymate.png"></a>
                <a href="https://twitter.com/login?lang=en"><img src="assets/images/amazon.png"></a>
            </div>
        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->
    <div class="row">
        <div class="col-6">
            <div class="second1 ">
                <img src="assets/images/card1.PNG" class="card1" alt="card image" width="500px" height="440px">
            </div>
        </div>
        <div class="col-6">
            <div class="secondtext">
                <h1 class="max">100% Totally Secured</h1>
                <h1 class="max">Virtual Credit Card</h1>
                <p class="maxp">Create your own virtual credit card and we will protect<br> your data and prevent it from data leak while you use that.
                </p>

                <br>
                <button type="button" class="btn btn1 ">Apply for Debit/Credit cards</button>
            </div>
        </div>

    </div>

    <!-- ---------------------------------------------------------------------------------------------- -->


    <div class="second2">

        <div class="secondtext">
            <h1 class="max">We make it easy to track all</h1>
            <h1 class="max"> your Banking Activities.</h1>
            <p class="maxp">Manage everything easily with us you can tracks all your <br> transaction directly with our app. we also protect your
            </p>
            <ul>
                <li style="list-style-image: url('assets/images/bluetick.PNG'); border-radius: 100%;">Personal Card number and CVV</li>
                <li style="list-style-image: url('assets/images/bluetick.PNG'); border-radius: 100%;">Phone Number</li>
                <li style="list-style-image: url('assets/images/bluetick.PNG'); border-radius: 100%;">Address</li>
            </ul>

            <br>

            <button type="button" class="btn btn1 " routerLink="/dashboard">Track yourself</button>
        </div>

        <img src="assets/images/card2.PNG" class="card2" alt="card image" width="500px" height="440px">
    </div>

    <!-- ------------------------------------------------------------------------------------------- -->


    <div class="third">

        <h1 class="max">What People Said About Us</h1>
        <p class="maxp gap">Here is a couple of testimonials from our loyal users that trust us <br> as a secure banking partner.
        </p>


    </div>

    <!-- ------------------------------------------------------------------------------- -->

    <div class="cards">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/user1.PNG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Buh Dian Turjiah</h5>
                <p class="card-text">I would like to congratulate entire team for the performance shown while dealing with customers
                </p>
                <a href="#" class="btn btn-primary ">Go somewhere</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/user2.PNG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Smith taylor</h5>
                <p class="card-text">I appreciate their commitment and dedication in client relationship.
                </p>
                <a href="#" class="btn btn-primary ">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------- -->

<footer>
    <div>
        <img src="assets/images/logo.PNG" alt="logo">
        <br>
        <br>
        <p class="maxf">Most Secure Bank in the Country<br> Which you can rely bindly. Give Us <br> a chance to serve you.
        </p>
        <br>
        <a href="https://twitter.com/login?lang=en"><img src="assets/images/twitter-512.png" alt="logo" width="30px" class="socialmedia"></a>
        <a href="https://facebook.com/login?lang=en"><img src="assets/images/facebook-512.png" alt="logo" width="30px" class="socialmedia"></a>
        <a href="https://instagram.com/login?lang=en"><img src="assets/images/instagram-512.png" alt="logo" width="30px" class="socialmedia"></a>

    </div>

    <div class="flist1">
        <h2>About</h2>
        <h6>Company</h6>
        <h6>Pricing</h6>
        <h6>Profile</h6>
        <h6>Carriers</h6>
    </div>

    <div class="flist1">

        <h2>Resources</h2>
        <h6>Contact</h6>
        <h6>Application</h6>
        <h6>FAQ</h6>
        <h6>Features</h6>
    </div>

    <div class="flist1">

        <h2>Legals</h2>
        <h6>Privacy Policy</h6>
        <h6>Copyright</h6>
        <h6>Disclamer</h6>
        <h6>Terms</h6>
    </div>

</footer>